<div class="pdp-wrapper-b4">
    <div class="container">
        <div class="row order-container">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 product-details-1st-section second-col">
                <app-pdp-overview></app-pdp-overview>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 product-details-2nd-section first-col">
                <app-pdp-image></app-pdp-image>
            </div>
        </div>
        <!-- <div class="row long-description">
            <div class="nav-tab-wrapper">
                <app-pdp-long-description></app-pdp-long-description>
            </div>
        </div> -->
        <div class="hr"></div>
    </div>
    <!--Nav Tab development-->
    <app-pdp-sticky-bar></app-pdp-sticky-bar>
</div>
<!-- <router-outlet></router-outlet> -->