.pdp-documentation-wrapper {
    .panel-content {
        margin-top: 40px;
        .documentation-heading {
            font-family: Barlow-Bold;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: normal;
            color: #333;
            font-weight: 700;
            font-style: normal;
            font-stretch: normal;
            display: block;
            margin-bottom: 16px;
        }
        .documentation-details {
            padding-top: 14px;
            padding-bottom: 14px;
            border-radius: 0;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .15);
            background-color: rgba(255, 255, 255, 0);
            padding-left: 16px;
            padding-right: 16px;
            margin-bottom: 16px;
            .documentation-name a {
                font-family: Barlow-Regular;
                font-size: 18px;
                font-weight: 400;
                font-style: normal;
                font-stretch: normal;
                line-height: 24px!important;
                letter-spacing: normal;
                color: #cd163f;
                margin-bottom: 4px;
            }
            .documentation-code {
                font-family: Barlow-Regular;
                font-size: 16px;
                font-weight: 400;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: normal;
                color: #6d6e71;
                line-height: 22px;
                min-height: 22px;
            }
            .btn-download {
                width: 151px;
                background-color: rgba(255, 255, 255, 0);
                border: 0;
                border-radius: 0;
                font-size: 16px;
                font-weight: 400;
                font-style: normal;
                font-stretch: normal;
                line-height: 24px;
                letter-spacing: .5px;
                padding: 8px 16px;
                float: right;
                color: #404041;
                vertical-align: middle;
                &:hover {
                    color: #ffffff;
                    border: 0 solid #bb2332;
                    background-color: #bb2332;
                }
                .sr-download {
                    font-family: Barlow-Regular;
                    position: relative;
                    left: -5px;
                    height: 24px;
                    width: 24px;
                }
                span:nth-child(2) {
                    font-family: Barlow-Regular;
                    line-height: normal;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 400;
                    font-style: normal;
                    font-stretch: normal;
                    letter-spacing: .5px;
                }
            }
        }
    }
}