<div class="pdp-documentation-wrapper">
    <accordion [isAnimated]="true">
        <accordion-group heading="documentation" [isOpen]="isFirstOpen">
            <div class="container-fluid pl-0 pr-0 panel-content" *ngIf="documentationDetails as else loading">
                <div class="row" *ngFor="let documentationDetail of documentationDetails">
                    <div class="col-md-12">
                        <h4 class="documentation-heading">{{documentationDetail.groupName}}</h4>
                        <div class="documentation-details" *ngFor="let dataItem of documentationDetail.dataGroups">
                            <div class="row">
                                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                                    <div class="documentation-name">
                                        <a href="{{dataItem.href}}">{{dataItem.documentationName}}</a>
                                    </div>
                                    <div class="documentation-code">{{dataItem.documentationCode}}</div>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <a href="{{dataItem.href}}" class="btn btn-light btn-download">
                                                <span class="sr-download" aria-hidden="true"></span>
                                                <span>{{dataItem.downloads}}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </accordion-group>
    </accordion>
</div>